[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = { workspace = true }
chrono-tz = { workspace = true }
serde = { workspace = true }
toml = { workspace = true }
directories = { workspace = true }

